/* Style de base pour la page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  color: #333;
}

/* Style de l'en-tête */
header {
  text-align: center;
  background-color: #ffffff;
  color: black  ;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 5px 0 20px;
}

/* Section des exercices */
.exercises {
  padding: 20px;
}

.exercises h2 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

/* Style des blocs d'exercices */
.exercise {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.exercise:hover {
  transform: scale(1.02); /* Effet de zoom au survol */
}

.exercise h3 {
  margin-top: 0;
  color: #333;
}

.exercise p {
  color: #555;
}

/* Bouton pour commencer */
.start-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #45a049; /* Couleur plus foncée au survol */
}
